<div id="information-tree-container" class="information-tree-container">
  <div id = "visited-node-list-container" class="visited-node-list">
    <h3>Visited Node List</h3>
    <visited-node-list></visited-node-list>
  </div>
  <information-tree></information-tree>
</div>
