<li>Job Search</li>
<ul>
  <li>NetFlix</li>
    <%= link_to 'Netflix Job Posting',
                'http://jobs.netflix.com/jobs.php?id=NFX01965',
                target: '_blank'
        %>
  <p>Posted to their job site through LinkedIn on 3/5. Read the blog post in the link above
  and follow through to learn the machine learning models the job description requires.
  </p>
  <p> From their LinkedIn Posting:</p>
  <pre>
MINIMUM JOB QUALIFICATIONS:
- At least ten years of postdoctoral research experience
- Strong background on machine learning and data mining with a broad understanding of unsupervised and supervised learning methods. You will be expected to be proficient with methods such as Gradient Boosted Decision Trees, Matrix Factorization, Kernel Methods, LDA, or Multi-armed Bandits. You will also be expected to be familiar with newer approaches such as Deep Learning or Non-parametric Bayesian methods
- Strong mathematical skills with knowledge of statistical methods
- Proven software development skills and experience
- Experience with traditional data storage platforms and distributed systems such as Hadoop.
- Great communication skills
- PhD in computer science, statistics or equivalent

PREFERRED JOB QUALIFICATIONS:
- Experience in Recommender Systems or Search
- Relevant publications in the field of Machine Learning and/or Search & Recommender Algorithms
- Experience with Cloud Computing platforms and large web-scale distributed systems
  </pre>
</ul>