<li>Job Search</li>
<ul>
  <li>NetFlix</li>
    <%= link_to 'Netflix Job Posting',
                'http://jobs.netflix.com/jobs.php?id=NFX01965',
                target: '_blank'
        %>
  <p>Posted to their job site through LinkedIn on 3/5. Read the blog post in the link above
  and follow through to learn the machine learning models the job description requires.
  </p>
  <p> From their LinkedIn Posting:</p>
  <pre>
MINIMUM JOB QUALIFICATIONS:
- At least ten years of postdoctoral research experience
- Strong background on machine learning and data mining with a broad understanding of unsupervised and supervised learning methods. You will be expected to be proficient with methods such as Gradient Boosted Decision Trees, Matrix Factorization, Kernel Methods, LDA, or Multi-armed Bandits. You will also be expected to be familiar with newer approaches such as Deep Learning or Non-parametric Bayesian methods
- Strong mathematical skills with knowledge of statistical methods
- Proven software development skills and experience
- Experience with traditional data storage platforms and distributed systems such as Hadoop.
- Great communication skills
- PhD in computer science, statistics or equivalent

PREFERRED JOB QUALIFICATIONS:
- Experience in Recommender Systems or Search
- Relevant publications in the field of Machine Learning and/or Search & Recommender Algorithms
- Experience with Cloud Computing platforms and large web-scale distributed systems
  </pre>

  <li>AfterCollege</li>
  <ul>
    <li>Contact Date</li><span>2015-3-11</span>
    <li>Recruiter</li><span>Malak</span>
    <li>Contact Personnel</li><span>Roberto is the CEO; Steve is the VP Eng</span>
    <li>Job Description</li>
    <p>Manage the engineering team of about 10 people, reporting to VP Eng
      They are a C#.net shop, with a hodgepodge of other technologies.
      Keep the trains running, taking architectural queues from VP.
    </p>
    <li>Conversations</li>
    <ul>
      <li>2015-3-11</li>
      <p>Spoke with Steve at length about the position. We
        had a good character match. He is quite nice. We both agreed that my
        lack of C#.net experience is the real weak point. I suggested possibly
        bringing me on as a contractor to revamp some parts of the base to be
        service-oriented, using ruby, and he agreed that this might be a good idea.
      </p>
      <p>
        I sent him a follow-on email reminding him that I have a wealth of expertise
        in machine learning and optimization.
      </p>
    </ul>
  </ul>


  <li>Move.com</li>
  <ul>
    <li>Contact Date</li><span>2015-3-11</span>
    <li>Recruiter</li><span>Billy Hammilton</span>
    <li>Contact Personnel</li><span>Quentin, Jignesh</span>
    <li>Job Description</li>
    <p>Not clear exactly what the role is. Quentin made it sound like it was a higher-level
      management role, but Jignesh, who runs the teams, made it sound as though he just
      wants a senior dev to function as team lead.
    </p>
    <p>
      Jignesh runs three scrum teams. He would want me to be the tech lead for one of them,
      which has about 10 people. The team is helping to rebuild the existing realtor.com app from scratch, using ruby on rails technology.
    </p>
    <p>
      I am not yet sure how this company monetizes their vast wealth of real-estate data,
      that covers the entire US.
    </p>
    <li>Conversations</li>
    <ul>
      <li>2015-3-13</li>
      <p>Spoke with Quentin, VP of engineering, I think, who owns the mobile teams,
      and then with Jignesh, who owns the realtor.com teams. Quentin was very interested
      in my background and made it sound like he might hire me at a high-level,
      paired with a senior architect.</p>
      <p>Jignesh was not as interested, and made it clear he just wanted a team lead,
      reporting to him. He's looking for someone who can function as a senior dev
      or a senior architect, who can mentor more junior developers and lead them
      in day-to-day code development. He doesn't need standups run, because they have a scrum master.
      According to Quentin, they are looking for the following:</p>
      <p>Primary objective is to build from scratch a responsive, modern web-app
        that replaces their old C#.net app, using ruby on rails, node.js, and any
        modern technology that can do the job.</p>

        <p>Bright people to come in and help modernize the environment, who can
        learn quickly, new technologies, languages, frameworks, who place a
        tremendous emphasis on quality, who can help the site scale.</p>
        <p>Someone good at optimization who can help the apps scale.</p>
    </ul>
  </ul>
  <li>Personalis</li>
    <ul>
      <li>Contact Date</li><span>2015-2-23</span>
      <li>Recruiter</li><span>Bob Callahan, Vantage Partners.net</span>
      <li>Contact Personnel</li><span>No contact made yet</span>
      <li>
      <%= link_to 'Job Description',
                  'job_search/personalis_vp_eng'
       %>
      </li>
    </ul>
</ul>
