<li>Job Search</li>
<ul>
  <li>NetFlix</li>
    <%= link_to 'Netflix Job Posting',
                'http://jobs.netflix.com/jobs.php?id=NFX01965',
                target: '_blank'
        %>
  <p>Posted to their job site through LinkedIn on 3/5. Read the blog post in the link above
  and follow through to learn the machine learning models the job description requires.
  </p>
  <p> From their LinkedIn Posting:</p>
  <pre>
MINIMUM JOB QUALIFICATIONS:
- At least ten years of postdoctoral research experience
- Strong background on machine learning and data mining with a broad understanding of unsupervised and supervised learning methods. You will be expected to be proficient with methods such as Gradient Boosted Decision Trees, Matrix Factorization, Kernel Methods, LDA, or Multi-armed Bandits. You will also be expected to be familiar with newer approaches such as Deep Learning or Non-parametric Bayesian methods
- Strong mathematical skills with knowledge of statistical methods
- Proven software development skills and experience
- Experience with traditional data storage platforms and distributed systems such as Hadoop.
- Great communication skills
- PhD in computer science, statistics or equivalent

PREFERRED JOB QUALIFICATIONS:
- Experience in Recommender Systems or Search
- Relevant publications in the field of Machine Learning and/or Search & Recommender Algorithms
- Experience with Cloud Computing platforms and large web-scale distributed systems
  </pre>

  <li>AfterCollege</li>
  <ul>
    <li>Contact Date</li><span>2015-3-11</span>
    <li>Recruiter</li><span>Malak</span>
    <li>Contact Personnel</li><span>Roberto is the CEO; Steve is the VP Eng</span>
    <li>Job Description</li>
    <p>Manage the engineering team of about 10 people, reporting to VP Eng
      They are a C#.net shop, with a hodgepodge of other technologies.
      Keep the trains running, taking architectural queues from VP.
    </p>
    <li>Conversations</li>
    <ul>
      <li>2015-3-11</li>
      <p>Spoke with Steve at length about the position. We
        had a good character match. He is quite nice. We both agreed that my
        lack of C#.net experience is the real weak point. I suggested possibly
        bringing me on as a contractor to revamp some parts of the base to be
        service-oriented, using ruby, and he agreed that this might be a good idea.
      </p>
      <p>
        I sent him a follow-on email reminding him that I have a wealth of expertise
        in machine learning and optimization.
      </p>
    </ul>
  </ul>


  <li>Move.com</li>
  <ul>
    <li>Contact Date</li><span>2015-3-11</span>
    <li>Recruiter</li><span>Billy Hammilton</span>
    <li>Contact Personnel</li><span>No contact made yet</span>
    <li>Job Description</li>
    <p>Manage engineering team for ongoing support, dev, and enhancement of web site. They want a high level of expertise in this role.
      The environment is ruby on rails, which I think they're migrating to from an older
      technology. Group has 10 engineers.
    </p>
  </ul>
</ul>
