<h2>Generate a migration</h2>
<%=
    link_to 'Rails Guides Documentation',
            'http://guides.rubyonrails.org/active_record_migrations.html#creating-a-standalone-migration',
            target: '_blank'
%>
<pre>
    rails generate migration AddPartNumberToProducts
  </pre>
