<h1>Keyboard Mapping</h1>
<p>
Use the application "Ukelele", which you've already installed, to create new keyboard maps.
A keyboard map must be installed in ~/Library/Keyboard Maps or in /Library/Keyboard Maps (this latter is global).
</p>
<p>
After putting it there, use system preferences / keyboard / input sources / + to add your new one.
You'll have to logout and relogin to see changes (though sometimes you don't have to, not sure why).
</p>
