<h1>Rails Magic</h1>
<div class='rule'></div>
<h2>Overview</h2>
<p>The rails framework institutes many conventions behind-the-scenes.
  For those developers who understand the conventions, their existence
enables fast development of web applications. For those who do not understand them,
looking at parts of a rails app can yield confusion. The connecting dots are not
explicitly on the page, so things seem to happen as if by magic.
This document describes many of the components of rails magic.
</p>

<ul>
  <li>
    <%= link_to 'Rails Controller Params', 'rails_controller_params'
    %>
  </li>
</ul>
