<h1>Rails Version Manager (RVM)</h1>
<p> If you try to do bundle in a stale shell running an old rvm, you'll lose. One to try when "bundle install" gives problems is to open a brand new shell window.
</p>