<li>Rails Command Line</li>
<ul>
  <li><%= link_to 'rubyyonrails.org/command_line.html', 'http://guides.rubyonrails.org/command_line.html'%></li>

  <li>Get a mysqlite console:</li>
  <pre>
  rails dbconsole
  </pre>



  <li>Start the rails server:</li>
  <pre>
  rails server
  </pre>



  <li>Start the rails server on a different port:</li>
  <pre>
  rails server --port=3001
  </pre>



  <li>Generate a scaffold</li>
    <%=
      link_to 'rubyyonrails.org/command_line.html',
              'http://guides.rubyonrails.org/command_line.html',
              target: '_blank'
    %>
  <pre>
  rails generate scaffold User name:string:index address:string
  </pre>

    <li>Generate a migration</li>
    <%=
        link_to 'Rails Guides Documentation',
                'http://guides.rubyonrails.org/active_record_migrations.html#creating-a-standalone-migration',
                target: '_blank'
    %>
    <pre>
    rails generate migration AddPartNumberToProducts
  </pre>

</ul>

