<h1>Rails Debugging</h1>
<h2>Overview</h2>
Use <code>debugger</code> in your code to get it to drop into the debugger.

<h2>Call Stack</h2>
<article>
  Use <pre>caller(0)</pre> to get the call stack returned as an array.
</article>

