<h1>Rails Infrastructure</h1>
<ul>
  <li>path helpers are kept in Rails.application.routes.url_helpers.methods.</li>
  <li>Toplevel method is in httpserver.rb, method is run().</li>
  <li><%= link_to 'Starting The Rails Server', 'rails_command_line'%></li>
</ul>

