<h1>Rails Database</h1>
<ul>
  <li><%= link_to 'Migrations', 'http://guides.rubyonrails.org/active_record_migrations.html#running-migrations', target: '_blank'%></li>
</ul>

<article>
  <h2>Migrating a DB</h2>
  <pre>
    rake db:migrate
  </pre>
</article>

<article>
  <h2> Resetting the DB</h2>
  <pre>bundle exec rake db:reset</pre>
  <p>This clears the database and reruns migrate (I think).
  <p>
    If you do a db:reset, you must also do <pre>bundle exec rake db:test:prepare</pre>
  I believe this is because the rspec tests use a completely separate "test" db for their tests.
  </p>
</article>

