<h1>Rails Security</h1>
<div class="rule"></div>
<ul>
  <li>
    <%=
        link_to 'Rails Guides On Security',
                'http://guides.rubyonrails.org/security.html',
                target: '_blank'
    %>
  </li>

  <li>
    <%= link_to 'Mass Assignment In Rails',
                'http://code.tutsplus.com/tutorials/mass-assignment-rails-and-you--net-31695',
                target: '_blank'
    %>
  </li>
</ul>
