<h1>Software Installation</h1>
<p>When installed software causes problems, try uninstalling and reinstalling</p>
<ul>
  <li>$ brew uninstall libyaml</li>
  <li>$ brew install libyaml</li>
</ul>

<p>This fixed brokenness I was getting with "gem", which kept complaining that psych was not installed properly, and which asked me
to reinstall libyaml.</p>