@import "bootstrap";

.app-header {
  background:blue;
  border:1px solid black;
  padding:10px;
  color:white;
}

a.app-header {
  border:none;

  &:visited {
    color:white;
    hover:white;
  }
}

body, p, ul, li {
  cursor:default;
  font-size:14pt;
  line-height:1.5em;
}

.rule {
  border-bottom:1px solid gray;
  height:10px;
  margin-bottom:10px;
}

h2 {
  margin-top:1em;
}

h1 {
  margin-top:.5em;
}

.main {
  border-right: 1px solid black;
  box-sizing: border-box;
  padding-right:20px;
}

.side-nav {
  background:white;
  color:blue;
  font-size:10pt;
  line-height:2em;
}

a.side-nav {
  &:visited {
    color:blue;
  }
}

li.side-nav {
}

.collapsed {
  &:hover {
    cursor:pointer;
  }
  &::after {
   content:" ...";
  }
  font-style:italic;
}

.expanded {
  &:hover {
    cursor:crosshair;
  }
  font-style:default;
}

.node-label {
  display:inline-block;
  box-sizing:border-box;
  margin:3px;
  vertical-align:middle;
  padding:10px;
}

expand-collapse {
  display:inline-block;
  border:1px solid black;
  background:green;
  box-sizing:border-box;
  margin-left:10px;
  vertical-align:middle;
}
add-child {
  display:inline-block;
  border:1px solid black;
  background:yellow;
  box-sizing:border-box;
  margin-left:10px;
  vertical-align:middle;
}

add-sibling {
  display:inline-block;
  border:1px solid black;
  background:orange;
  box-sizing:border-box;
  margin-left:10px;
  vertical-align:middle;
}

node-children {
  display:block;
  box-sizing:border-box;
  margin-left:10px;
}
node-header {
  display:block;
  box-sizing:border-box;
}
ui-node {
  display:block;
  box-sizing:border-box;
}

