@import "bootstrap";

.app-header {
  background:blue;
  border:1px solid black;
  padding:10px;
}

body, p, ul, li {
  font-size:14pt;
  line-height:1.5em;
}

.rule {
  border-bottom:1px solid gray;
  height:10px;
}

h2 {
  margin-top:1em;
}


