@import "bootstrap";

.app-header {
  background:blue;
  border:1px solid black;
  padding:10px;
  color:white;
}

a.app-header {
  border:none;

  &:visited {
    color:white;
    hover:white;
  }
}

body, p, ul, li {
  font-size:14pt;
  line-height:1.5em;
}

.rule {
  border-bottom:1px solid gray;
  height:10px;
}

h2 {
  margin-top:1em;
}

h1 {
  margin-top:.5em;
}

.main {
  border-right: 1px solid black;
  box-sizing: border-box;
}

.side-nav {
  background:white;
  color:blue;
  font-size:10pt;
  line-height:2em;
}

a.side-nav {
  &:visited {
    color:blue;
  }
}

li.side-nav {
}


