
information-tree {
  display:block;
  background:#e0f0ff;
  border:1px solid black;
  border-top:0px;
  height:100vh;
  overflow-y:auto;
  overflow-x:auto;
  position:relative; // important for determining position of child nodes for scrolling.
}

// Custom tags derived from built-in tags
// can't have css based on the derived tag,
// because the derived tag is not really instantiated.
// We must use css classes to style them instead.
.node-content {
  display:inline-block;
  box-sizing:border-box;
  margin:3px;
  vertical-align:middle;
  padding:10px;
  min-width: 10px;
  min-height:10px;
  &:hover {
  }
}

expand-collapse {
  display:inline-block;
  width:13px;
  padding-left:5px;
  background:blue;
  color:white;
  border:1px solid black;
}

// Custom tags derived from parent tags
// do not inherit the tag-based styling of their parent.
// We have to use css classes instead.
.button-panel-button {
  display:block;
  border:1px solid black;
  border-top:0px;
  box-sizing:border-box;
  margin-left:0px;
  vertical-align:middle;
  padding:5px;
  background:blue;
  color:white;
  &:hover {
    background:lightblue;
  }
}

.button-panel-button-disabled {
  background:gray;
  color:darkgray;
  &:hover {
    background:gray;
  }
}

button-panel {
  display:block;
  box-sizing:border-box;
  width:120px;
  position:absolute;
  background:green;
  border:1px solid black;
}


node-marker {
  display:inline-block;
  border:1px solid black;
  margin:3px;
  padding:10px;
  background:white;
  border-radius:5px;
  width:200px;
  height:30px;
  overflow:hidden;
  &:hover {
    background:yellow;
  }
}

visited-node-list-dropdown {
  &:hover {
    background:black;
  }
  margin:10px;
}

visited-node-list {
  display:block;
  background:#e0f0ff;
  height:300px;
  width:300px;
  overflow-y:auto;
  overflow-x:hidden;
  border:1px solid black;
}



node-path-list-dropdown {
  margin:10px;
  &:hover {
    background:black;
  }
}

node-path-list {
  display:block;
  background:#e0f0ff;
  height:300px;
  width:300px;
  overflow-y:auto;
  overflow-x:hidden;
  border:1px solid black;
}


text-node {
  display:block;
  box-sizing:border-box;
}

.drop-hover {
  background:blue;
}

node-children {
  display:block;
  box-sizing:border-box;
  margin-left:40px;
}
node-header {
  display:block;
  box-sizing:border-box;
}

ui-node {
  display:block;
  box-sizing:border-box;
}


.ui-resizable-se {
  bottom: 17px;
}
