
/* This is the horizontal bar across the top of the app
containing pull-down menus and other nav options.
*/
body, html {
  background:#e0f0ff;
}
.app-header {
  background:#00a;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  overflow:hidden;
  border-bottom:1px solid black;
}

/*
This is one of the pull-down items or other navigational items.
*/
.app-header-item {
    background:#00a;
    color:#eee;
    cursor:default;
    margin-left:10px;
    margin-right:20px;
    display:inline-block;
    border:1px solid #00a;
}

a.app-header-item:link, a.app-header-item:visited {
    color:#eee;
    text-decoration:none;
    cursor:default;
}
/* Note: this must follow the previous specs in order to override them */
.app-header-item:hover, a.app-header-item:hover {
    color:#aaf;
}


/*
Style a drop-down element in the app header thusly when it has been clicked on, to indicate
that its associated menu has been opened.
*/
.highlight-drop-down {
    background:#25f;
    color:#eee;
    border:1px solid #888;
    border-bottom:none;
}
.highlight-drop-down:hover {
    color:#eee;
}

/*
This is the menu that pops up when you click on a drop-down menu
item in the header bar (navbar).
*/
.drop-down-pop-up {
    display:block;
    background:#5af;
    height:300px;
    width:228px;
    overflow-y:auto;
    overflow-x:hidden;
    border:1px solid gray;
    border-top:none;
}


/*
This is an element on one of the pull down menus. It represents a short-cut
to a node. Clicking on it will take you to a node.
*/
node-marker {
    display:block;
    border:1px solid black;
    background:white;
    margin-left:5px;
    margin-right:5px;
    margin-top:4px;
    padding-top:5px;
    padding-left:10px;
    padding-right:15px;
    padding-bottom:10px;
    border-radius:5px;
    max-width:200px;
    height:15px;
    overflow:hidden;
}
node-marker:hover {
    color:white;
    background:gray;
}


/* Not used for much at the moment */
.app-footer {
  height:0vh;
}


/* This is the main detail area of the information tree */
information-tree {
  display:block;
    background:#e0f0ff;
  padding-left:40px;
  border-top:0px;
  height:92vh;
  overflow-y:auto;
  overflow-x:auto;
  position:relative; /* important for determining position of child nodes for scrolling. */
}

/*
This is the input box that holds the node's content.
*/
.node-content {
  display:inline-block;
  box-sizing:border-box;
  margin:3px;
  vertical-align:middle;
  padding:10px;
  min-width: 10px;
  min-height:10px;
}
.node-content:hover {
}

/*
This is the little blue square with a triangle in it to the left of the node content input box.
*/
expand-collapse {
  display:inline-block;
  width:13px;
  padding-left:5px;
  background:#00a;
  color:white;
  border:1px solid black;
  cursor:default;
}

/*
This is a button on the menu that pops up when you right click on a node.
*/
.button-panel-button {
  display:block;
  border:none;
  border-top:0px;
  box-sizing:border-box;
  margin-left:0px;
  vertical-align:middle;
  padding:5px;
  background:#5af;
  color:black;
  cursor:default;

}
.button-panel-button:hover {
    background:#779;
    color:white;
}

/*
This renders a menu option grayed-out to show it is not selectable.
*/
.button-panel-button-disabled {
  background:gray;
  color:darkgray;

}
.button-panel-button-disabled:hover {
    background:gray;
    color:darkgray;
}

/*
This is the right-mouse-click menu.
*/
button-panel {
  display:block;
  box-sizing:border-box;
  width:150px;
  position:absolute;
  background:green;
  border:1px solid gray;
}

/*
This may be obsolete, based on the name, which should be ui-node. This is the entire
container for a node, which includes its sub-nodes as children of this dom element.
*/
text-node {
  display:block;
  box-sizing:border-box;
}
ui-node {
    display:block;
    box-sizing:border-box;
}

/*
Style a node thusly when the the mouse is dragging another object over it as part of a drag-and-drop.
*/
.drop-hover {
  background:#00a;
}

/*
This may be obsolete. This is the container for the children of an ode.
*/
node-children {
  display:block;
  box-sizing:border-box;
  margin-left:40px;
}
/*
This is the container for the node's content area and expand/collapse button.
*/
node-header {
  display:block;
  box-sizing:border-box;
}


/*
No idea what this is.
*/
.ui-resizable-se {
  bottom: 17px;
}

