/*
// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

html body {
    padding:0px;
    margin:0px;
}

/* =================================================================== */
/*                      Node Index Page
/* =================================================================== */

.node-index-common {
    width:1046px;
}
.node-index-container {
    position:relative;
    padding-top:42px;
    margin-left:50px;
    border:2px solid black;
}

.node-index-header {
    position:absolute;
    top:0;
    background:gray;
    height:40px;
    border-bottom:2px solid black;
    font-size:0;
}


.node-index-header-element {
    display:inline-block;
    color:white;
    background:transparent;
    padding-top:10px;
    height:30px;
    font-size:14px;
}
.node-index-header-element:first-child {
    margin-left:10px;
}

.node-index-body {
    background:white;
    overflow-y:scroll;
    overflow-x:hidden;
    height:500px;
}

.node-index-row {
    border-bottom:1px solid gray;
    padding-top:13px;
    padding-bottom:13px;
    font-size:0;
}

.node-index-row-element {
    display:inline-block;
    max-height:100px;
    overflow-y:auto;
    padding-left:0px;
    font-size:14px;
    vertical-align:middle;
}
.node-index-row-element:first-child {
    margin-left:10px;
}
.node-index-row-element-id {
    width:50px;
}

.node-index-row-element-type {
    width:50px;
}
.node-index-row-element-rank {
    width:50px;
}
.node-index-row-element-parent {
    width:50px;
}
.node-index-row-element-predecessor {
    width:100px;
}
.node-index-row-element-successor {
     width:100px;
 }
.node-index-row-element-content {
    width:380px;
    max-height:100px;
}

.node-index-row-element-repair {
    width:60px;
}

.node-index-row-element-destroy {
     width:60px;
 }

/* =================================================================== */
/*                      Show Node Page
/* =================================================================== */

/* This is the container for the Admin pages */
.admin-container {
    padding-top:20px;
    padding-left:100px;
    padding-bottom:20px;
    background:#ccc;
    height:88vh;
    overflow:auto;
}
/*
The big <h1> heading for a Show Node page
*/
.show-node-heading {
    max-width:800px;
    height:50px;
    padding:3px;
    white-space:nowrap;
    overflow:hidden;
}

/* This is a text box that shows the entire content of the node */
.show-node-content {
    max-width:600px;
    max-height:500px;
    overflow:auto;
}

/* This is a link to a node that shows a clipped portion of its text */
.show-node-link {
    max-width:500px;
    padding:3px;
    white-space:nowrap;
    overflow:hidden;
}

