<div id="app-header" class="app-header">
  <visited-node-list-drop-down class="app-header-item" id="visited-node-list-drop-down">Visited Nodes</visited-node-list-drop-down>
  <node-path-list-drop-down class="app-header-item" id="node-path-list-drop-down">Node Path</node-path-list-drop-down>
  <a class="app-header-item"
     target="_blank"
     title="This brings up a page that allows you to look at the underlying db record for each node."
     href=<%= nodes_path %>
  >Admin</a>
</div>
