<div class="app-header">
  <%= link_to 'Back Up Tree',
              back_up_nodes_path,
              remote: true,
              method: :post,
              class:'app-header'
  %>
  <visited-node-list-dropdown>Visited Nodes</visited-node-list-dropdown>
</div>
