<div id="app-header" class="app-header">
  <%= link_to 'Back Up Tree',
              back_up_nodes_path,
              remote: true,
              method: :post,
              class:'app-header'
  %>
  <visited-node-list-dropdown id="visited-node-list-dropdown">Visited Nodes</visited-node-list-dropdown>
  <node-path-list-dropdown id="node-path-list-dropdown">Node Path</node-path-list-dropdown>
</div>
