<div class="app-header">
  <a class="app-header" href=<%=root_path%>>JSS Notes</a>

    <%= link_to 'Interactive',
                interactive_nodes_path,
                class:'app-header'
    %>


    <%= link_to 'Text Tree',
                text_tree_path,
                class:'app-header'
    %>

  <%= link_to 'Back Up Tree',
              back_up_nodes_path,
              remote: true,
              method: :post,
              class:'app-header'
  %>

</div>
