<div id="app-header" class="app-header">
  <visited-node-list-drop-down class="app-header-item" id="visited-node-list-drop-down">Visited Nodes</visited-node-list-drop-down>
  <node-path-list-drop-down class="app-header-item" id="node-path-list-drop-down">Node Path</node-path-list-drop-down>
  <a class="app-header-item" href=<%= nodes_path %>>Admin</a>
</div>
