<script id="right-rail-template" type="text/html">
<p>id:<span><%%= id %></span></p>
<p>parent_id:<span><%%= parent_id %></span></p>
<p>predecessor_id:<span><%%= predecessor_id %></span></p>
<p>successor_id:<span><%%= successor_id %></span></p>
<p>rank:<span><%%= rank %></span></p>
<a href="<%%= id %>/edit">Edit</a>
</script>
