<h1>Information About Domestic Stuff</h1>
<div class="rule"></div>
<ul>
  <li>Insurance</li>
  <ul>
    <li>
      Life Insurance
    </li>
    <li>Home Owner's Insurance</li>
    <ul>
      <li>Computer Equipment covered up to $5K</li>
      <li>TV: no limit on replacement coverage</li>
      <li>Jewelry and watches: covered to 5K aggregate, no more than 1K on any single piece.</li>
      <li>Musical Instruments: covered without limitation</li>
      <li>Vandalism: covered, but with a 1K deductible</li>
      <li>Walk around your house filming everything you own, then upload to utube or some other safe place.</li>
      <li>jewelry floater: this is additional coverage you can buy: appraise your expensive jewelry, then have them covered for the appraisal amount using the floater. Mysterious disappearance is covered</li>
      <li>Loss of use: house becomes uninhabitable, e.g. no bath or kitchen. No deductible on this coverage.</li>
      <li>Separate structures: fence, shed, sidewalk. These are covered.</li>
      <li>Cash: covered up to $200 only.</li>
      <li>eating utensils, such as fine silver: covered to 3K limit</li>
      <li>Valuable paper: stock certificates, etc: covered to $1500</li>
      <li style="color:red">Earthquakes are NOT covered. You can buy separate insurance, but it's expensive: $2100 yearly, 33K deductible.</li>
      <li style="color:red">Flooding: NOT covered for floods due to rain, but covered if a water pipe breaks. Technically, this is called <em>sudden and accidental</em>. However, if you let a chronic problem persist and it causes damage, you're NOT covered, because it's no longer sudden.</li>
      <li>Carpets: up to 5K each, 10K cap on coverage</li>
      <li>identity theft: covered to 30K</li>
      <li>Building code upgrades: if rebuilds require new stuff to be added due to building code upgrades, our insurance will pay up to 10% of the full coverage amount for upgrades.</li>
    </ul>
  </ul>
</ul>